// * transition
$time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// * fonts
$font-primary: 'Open Sans';
$font-title: 'Rubik';

// * font colors
$font-grey-color: #575C74;
$font-dark-color: #0C122D;
$font-white-color: #fff;

// * other colors
$accent-color: #FFB800;
$blue-color: #1B5FC1;
$place-logo-color: #C4C4C4;
$section-bg: #F7FDFB;
$footer-bg: #ECF0F5;
$copy-border-color: #E1E6EC;



