<section class="advantages">
  <div class="container">
    <ul class="advantages__list">
      <li class="advantages__item">
        <h3 class="advantages__title">Full-Service Shipping</h3>
        <p class="advantages__desk">
          From picking to custom-crating&nbsp;to domestic and international
          shipping, we handle it all for you.
        </p>
      </li>
      <li class="advantages__item">
        <h3 class="advantages__title">Multi-Point Inspection</h3>
        <p class="advantages__desk">
          To ensure quality, our team of HTM professionals fully assess and
          evaluate all equipment.
        </p>
      </li>
      <li class="advantages__item">
        <h3 class="advantages__title">Professional Product Support</h3>
        <p class="advantages__desk">
          If you have any questions about the equipment, our product specialists
          are here to help.
        </p>
      </li>
      <li class="advantages__item">
        <h3 class="advantages__title">Secure and Easy Payment Methods</h3>
        <p class="advantages__desk">
          Pay your way, whether by credit card, PayPal or the redemption of
          earned credits.
        </p>
      </li>
    </ul>
  </div>
</section>
