<section class="certification">
  <div class="container">
    <p class="certification__title">Our Lab Certification</p>
    <ul class="certification__list">
      <li class="certification__item">
        <a class="certification__link" href="#"> </a>
      </li>
      <li class="certification__item">
        <a class="certification__link" href="#"> </a>
      </li>
      <li class="certification__item">
        <a class="certification__link" href="#"> </a>
      </li>
    </ul>
  </div>
</section>
