<section class="contacts">
  <div class="container">
    <ul class="contacts__list">
      <li class="contacts__item">
        <h3 class="contacts__title">Address</h3>
        <a
          class="contacts__link"
          href="https://goo.gl/maps/dga1mFGARoY63FcX8"
          target="_blank"
          rel="noonoreferrer nofollow"
          >123 5th Avenue, New York, US</a
        >
      </li>
      <li class="contacts__item">
        <h3 class="contacts__title">Call Us</h3>
        <a class="contacts__link" href="tel:+11234567890">+1 123 456 7890</a>
      </li>
      <li class="contacts__item">
        <h3 class="contacts__title">Email Us</h3>
        <a class="contacts__link" href="mailto:info@example.com"
          >info@example.com</a
        >
      </li>
    </ul>
  </div>
</section>
