<header class="header">
  <div class="container flex-container">
    <div class="header__logo"></div>
    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link">Home</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">About</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Product</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Contact</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">History</a>
        </li>
      </ul>
    </nav>
    <button class="header__btn" type="button">Contact us</button>
  </div>
</header>
