<section class="hero">
  <div class="container flex-container">
    <div class="hero__left">
      <p class="hero__subtitle">3M N95 masks</p>
      <h1 class="hero__title">Protective Face Masks</h1>
      <p class="hero__desc">
        We offer the fast delivery wholesale selection of N95 masks and surgical
        masks, featuring FDA-approved quality and 2 – 5 days delivery, our
        wholesale face masks are ideal for influenza or novel coronavirus
        prevention.
      </p>
      <div class="hero__btns">
        <button class="hero__btn btn btn--blue" type="button">Shop now</button>
        <button class="hero__btn btn btn--orange" type="button">
          Learn more
        </button>
      </div>
    </div>
    <!-- TODO адаптувати зображення -->
    <img
      class="hero__right"
      width="496"
      height="744"
      src="./images/hero-right.png"
      alt="girl in a protective mask"
    />
  </div>
</section>
