<section class="reasons">
  <div class="container">
    <div class="reasons__left">
      <picture class="reasons__img">
        <source
          srcset="
            ./images/reasons/left-bg.webp    1x,
            ./images/reasons/left-bg@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/reasons/left-bg.png    1x,
            ./images/reasons/left-bg@2x.png 2x
          "
          type="image/png"
        />
        <img
          src="./images/reasons/left-bg.png"
          alt="girl in a protective mask"
        />
      </picture>
    </div>
    <div class="reasons__right">
      <h2 class="reasons__title">Reasons To Choose Our Products</h2>
      <p class="reasons__desc">
        All products of Health Pro have obtained the certifications issued by
        national specialized agencies and testing laboratories.
      </p>
      <p class="reasons__desc">
        They have also passed the quality inspection of several international
        famous testing institutions. We have absolute confidence that every
        product of Health Pro is a of the top quality.
      </p>
      <ul class="reasons__list">
        <li class="reasons__item">
          <h3 class="reasons__subtitle">Industry leader</h3>
          <p class="reasons__inside-desc">
            If you have any questions about the equipment, our product
            specialists are here to help, specialists are here.
          </p>
        </li>
        <li class="reasons__item">
          <h3 class="reasons__subtitle">Innovation 3 led development</h3>
          <p class="reasons__inside-desc">
            If you have any questions about the equipment, our product
            specialists are here to help.
          </p>
        </li>
        <li class="reasons__item">
          <h3 class="reasons__subtitle">To create a safer tomorrow for all</h3>
          <p class="reasons__inside-desc">
            If you have any questions about the equipment, our product
            specialists are here to help.
          </p>
        </li>
        <li class="reasons__item">
          <h3 class="reasons__subtitle">
            To protect and to improve living quality for all
          </h3>
          <p class="reasons__inside-desc">
            If you have any questions about the equipment, our product
            specialists are here to help.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
