.call {
  padding-top: 88px;
  padding-bottom: 120px;

  @include mq(tablet-only) {
    padding-top: 66px;
    padding-bottom: 80px;
  }
  
  @include mq(mobile-only) {
    padding-top: 33px;
    padding-bottom: 40px;
  }
}

.call__title {
  margin-bottom: 19px;  
  @include font-normal($font-family: 'Rubik', $font-weight: 700, $color: $font-dark-color);
  font-size: 48px;
  line-height: 1.04;
  text-align: center;

  @include mq(tablet-only) {
    font-size: 38px;
  }
  
  @include mq(mobile-only) {
    font-size: 28px;
  }
}

.call__text {
  margin: 0 auto 35px;
  max-width: 664px;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;

  @include mq(tablet-only) {
    font-size: 14px;
  }
  
  @include mq(mobile-only) {
    font-size: 12px;
  }  
}

.call__btn {
  margin: 0 auto;
  box-shadow: 0px 10px 15px rgba(27, 95, 193, 0.19);
}