.header {    
  padding-top: 20px;
  padding-bottom: 77px;  
  background-color: $section-bg;  

  &::after {
    position: absolute;
    right: 0;
    top: 0;
    // z-index: -1;
    content: '';
    @include side-sizes(927px, 891px);
  
    // ! тимчасове рішення, виправити    
    max-width: 48%;
  
    background-image: url('../images/hero/hero-bg.png');      
    }

  .container {
    @include flex-3in1;    
  }  
}

.header__logo {
  margin-right: auto;
  z-index: 1;
  @include side-sizes(161px, 40px);
  background-color: $place-logo-color;
}

.nav {
  margin-right: 45px;  
  z-index: 1;
}

.nav__list {
  @include flex-gap($gap: 45px);
  z-index: 10;
}

// TODO додати анімашку, можлм=иво риску під назвою

.nav__link {
  padding-top: 30px;
  padding-bottom: 90px;
  
  @include font-normal;
  font-size: 16px;
  line-height: 1.875;

  transition: color $time-function;

  &:hover,
  &:focus {
    color: $font-dark-color;
  }
}

.header__btn {
  z-index: 1;
}