.header {  
  padding-top: 20px;
  padding-bottom: 80px;
  
  @extend %outline;

  .flex-container {
    @include flex-3in1;
  }
}

.header__logo {
  margin-right: auto;
  @include side-sizes(161px, 40px);
  background-color: $place-logo-color;
}

.nav {
  margin-right: 45px;
}

.nav__list {
  @include flex-gap($gap: 45px);
}

// TODO додати анімашку, можлм=иво риску під назвою

.nav__link {
  padding-top: 30px;
  padding-bottom: 90px;
  
  @include font-normal;
  font-size: 16px;
  line-height: 1.875;

  transition: color $time-function;

  &:hover,
  &:focus {
    color: $font-dark-color;
  }
}