.hero {  
  background-color: $section-bg;

  .flex-container {
    display: flex;
  }   
}

.hero__left {
  padding-top: 157px;
  max-width: 555px;
}

.hero__right {
  margin-left: auto;
  z-index: 1;
}

.hero__subtitle {
  margin-bottom: 30px;
  @include font-normal($font-family: 'Rubik', $font-weight: 500, $color: $accent-color);    
  font-size: 14px;
  line-height: 2.14;
  
}

.hero__title {
  margin-bottom: 40px;
  @include font-normal($font-family: 'Rubik', $font-weight: 700, $color: $font-dark-color);    
  font-size: 72px;
  line-height: 1.14;  
}

.hero__desc {
  margin-bottom: 54px;
  @include font-normal($color: $font-dark-color);  
  font-size: 16px;
  line-height: 1.5;
}

.hero__btns {
  @include flex-gap($justify-content: flex-start, $gap: 20px);
}