.reasons {  
  padding-bottom: 61px;
  
  @include mq(tablet-only) {
    padding: 41px 0;
  }
  
  @include mq(mobile-only) {
    padding: 21px 0;
  }

  .container {
    display: flex;
  }
}

.reasons__left {  
  margin-right: auto;

  @include mq(mobile-only) {
    display: none;
  }

  @include mq(notDesktop) {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.reasons__right {  
  flex-basis: 650px;

  @include mq(desktop) {
    padding-top: 3px;
  }
}

.reasons__title {
  margin-bottom: 19px;
  @include font-normal($font-family: 'Rubik', $font-weight: 700, $color: $font-dark-color);
  font-size: 48px;
  line-height: 1.04;

  @include mq(tablet-only) {
    font-size: 38px;
  }
  
  @include mq(mobile-only) {
    font-size: 28px;
  }
}

.reasons__desc {  
  font-size: 16px;
  line-height: 1.88;

  & + .reasons__desc {
    margin-bottom: 35px;
  }

  @include mq(notDesktop) {
    display: none;
  }
}

.reasons__list {
  @include flex-gap($gap: 23px 26px);
  flex-wrap: wrap;

  @include mq(mobile-only) {
    gap: 10px;
  }
}

.reasons__item {
  position: relative;
  padding-left: 73px;
  flex-basis: 312px;

  &::before {
    position: absolute;
    @include side-sizes(56px, 56px);
    left: 0;
    content: '';
  }

  &:nth-child(1) {
    &::before {
      @include bgimg('../images/reasons/icon-1', 'png');
    }
  }

  &:nth-child(2) {
    &::before {
      @include bgimg('../images/reasons/icon-2', 'png');
    }
  }

  &:nth-child(3) {
    &::before {   
      @include bgimg('../images/reasons/icon-3', 'png');
    }
  }

  &:nth-child(4) {
    &::before {     
      @include bgimg('../images/reasons/icon-4', 'png');
    }
  }
}

.reasons__subtitle {
  margin-bottom: 2px;
  @include font-normal($font-weight: 700, $color: $font-dark-color);
  font-size: 20px;
  line-height: 1.4;

  @include mq(tablet-only) {
    font-size: 18px;
  }
    
  @include mq(mobile-only) {
    font-size: 16px;
  }
}

.reasons__inside-desc { 
  padding-left: 1px;
  @include font-normal;
  font-size: 15px;
  line-height: 1.47;

  @include mq(tablet-only) {
    font-size: 14px;
  }
    
  @include mq(mobile-only) {
    font-size: 12px;
  }
}